#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# License agreement
eula --agreed
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

ignoredisk --only-use=sda
# Network information
network  --bootproto=dhcp --device=ens33 --onboot=off --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$fv3mM7LsD.6YHlwj$L64m1ee.CBR9wGd5EGF9Nk7bAsIe.5jTtIdgT9k/PpG8SE6DyR1BQJ/3WdfT2TrItLAJVQHoKp/6xl1Hmq79c/
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --groups=wheel --name=sudheer --password=$6$a7qbwa1/SyiGqPIj$RocBhM6ntti94gpr3B9t7ZxpD5OMkv5n6miLPBDp6OcHaZUAnv2v5FPuu/VoD8nXSRZeEp1lJ.UnG0uSNFov./ --iscrypted --gecos="sudheer"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
@base
@core
@desktop-debugging
@dial-up
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@multimedia
@print-client
@x11
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
